DEBUG: True
SLACK_TOKEN: "CHANGE_ME" 
ACTIVE_PLUGINS:
  - smellycat.plugins.stocks.StockLeaders
  - smellycat.plugins.stocks.StockPrices
  - smellycat.plugins.reactions.AutoNeat
  - smellycat.plugins.reactions.AutoWork
